In [1]:
# function without parameter
# function delcaration
def printMe():
    print("Hello All!")

In [2]:
# calling function
printMe()

Hello All!

In [3]:
# function with parameter 
def addOperation(a,b):
    return a+b

In [4]:
add = addOperation
add(4,5)

9

In [5]:
#function with default value
#declaration
def multipleNo(a=0,b=0):
    return a*b

In [6]:
multipleNo()

0

In [7]:
multipleNo(4)    #indexing
multipleNo(a=4)  #key value

0

In [10]:
multipleNo(c=4)

TypeError: multipleNo() got an unexpected keyword argument 'c'

In [8]:
multipleNo(4,4)

16

In [9]:
multipleNo(a=4, b=5)
multipleNo(b=5, a=6)

30

In [11]:
multipleNo(b=4,) #valid

0

In [12]:
multipleNo(,b=4) #invalid valid

SyntaxError: invalid syntax (<ipython-input-12-815ed013bc35>, line 1)

In [13]:
#function with multiple return..
def doCalculator(x,y):
    return x+y,x-y,x*y,x/y

In [15]:

add,sub,mul,div=doCalculator(4,5)
print(add)
print(sub)

9
-1

In [26]:
#args 
#function declations
def customPrint(*args):
  for data in args:
        print("your output is {}".format(data),end=" ") #end create matter

In [28]:
customPrint("hello dubai",35,54,{"name":"siddhesh"})

your output is hello dubai your output is 35 your output is 54 your output is {'name': 'siddhesh'}

In [23]:
#args 
#function declations
def customPrint(*args):
  for data in args:
        print("your output is {}".format(data))

In [24]:
customPrint("hello dubai",35,54)

your output is hello dubai
your output is 35
your output is 54

In [30]:
def customPrint(**kwargs):
    return kwargs

In [37]:
#infinity parameter using kwargs
customPrint({"name":"siddhesh"})

TypeError: customPrint() takes 0 positional arguments but 1 was given

In [41]:
def calculator(*args,**kwargs):
    print(args)
    print(kwargs)

In [42]:
calculator(23,35,5,5,a=34,b=55)

(23, 35, 5, 5)
{'a': 34, 'b': 55}

In [46]:
#lambda e.g
add=lambda x,y:x+y
print(add(4,5))

9

In [47]:
inc = lambda x:x-1
print(inc(34))

33

In [48]:
#range declaration 
inc = lambda x,y=0:list(range(x,x+y+1))
print(inc(34,5))

[34, 35, 36, 37, 38, 39]

In [55]:
#range declaration 
inc = lambda x,y=1:list(range(x,x+y+1)) if(y!=0) else x+1
print(inc(34,5))
print(inc(34))
print(inc(34,3))

[34, 35, 36, 37, 38, 39]
[34, 35]
[34, 35, 36, 37]

In [57]:
[i*i for i in range(1,5)]

[1, 4, 9, 16]

In [62]:
list(map(print,[1,4,66,"dsgdgd"]))

1
4
66
dsgdgd

[None, None, None, None]

In [64]:
list(map(lambda x:x*x, range(1,10)))

[1, 4, 9, 16, 25, 36, 49, 64, 81]

In [69]:
a="8976792190"

In [70]:
a[6:len(a)].rjust(len(a),"*")

'******2190'

In [73]:
data=["897672190","9833014103","8976893385","7208701014"]
list(map(lambda a:a[6:].rjust(len(a),"*"),data))

['******190', '******4103', '******3385', '******1014']

In [4]:
def caseConversion(x):
    if(x.isupper()):
        return x.lower()
    elif(x.islower()):
        return x.upper()
    else:
        return x.swapcase()

In [6]:
data=["goa","MAHARSHTRA","SiKkIm","jK","UTTAR Pradesh","BIHAR"]
list(map(caseConversion,data))
list(map(lambda x:caseConversion(x), data))

['GOA', 'maharshtra', 'sIkKiM', 'Jk', 'uttar pRADESH', 'bihar']

In [10]:
data=["goa","MAHARSHTRA","SiKkIm","jK","UTTAR Pradesh","BIHAR"]
list(filter(lambda x:'h' in x or "H" in x ,data))

['MAHARSHTRA', 'UTTAR Pradesh', 'BIHAR']

In [17]:
from functools import reduce
print(reduce(lambda x,y: x*y, range(1,6)))

120

In [23]:
### closure or first class citizen
def wrapper(func_name):
    def inner():
        print("I am printing before")
        func_name()
        print("I am printing after")
    return inner
def printMe():
    print("hello all")
    
printMe1=wrapper(printMe)
printMe1()

I am printing before
hello all
I am printing after

In [35]:
### closure or first class citizen
def wrapper(func_name):
    def inner():
        print("I am printing before")
        func_name()
        print("I am printing after")
    return inner
@wrapper
def printMe():
    print("hello all")
@wrapper    
def printMe2():
    print("hello all once again")

printMe()
printMe2()

#printMe1=wrapper(printMe)
#printMe1()

I am printing before
hello all
I am printing after
I am printing before
hello all once again
I am printing after

In [69]:
def validation(login):
    def inner(**kw):
        if(kw["username"]=="" and kw["password"]!=""):
            print("enter credentials")
        elif(kw["username"]=="admin" and kw["password"]=="admin123"):
            login()
        else:
            print("invalid user")
    return inner

In [70]:
usern = input("Enter Username")
passw = input("Enter Password")
@validation
def loginProcess():
       print("welcome")
        
loginProcess(username = usern, password = passw)

Enter Usernameadmin
Enter Passwordadmin123
welcome

In [71]:
list1 = [1,1,1,1,2,2,3,3,3,3,4,5]
a1 = set(list1)
a2 = a1.union(a1)
list2 = list(a2)
print(list2)

[1, 2, 3, 4, 5]

In [89]:
def alternateFlow(a,b):
    try:
        c=0
        if(type(a) is str and type (b) is str):
            a=float(a)
            b=float(b)
            c=a/b
    except BaseException as e:
            print("Transfer to first flow")
            FistFlow()
    else:
            print("value of division is " ,c)
    finally:
            del a,b

In [90]:
#Exception Handling

def FirstFlow():
    try:
        no1 = input("Enter the first No.")
        no2 = input("Enter the second No.")
        no3 = no1/no2
    except BaseException as e:
        choice = input("do you want to see the error [y/n]")
        if(choice=="y"):
            print(e)
            print("transfering to alternate flow")
            alternateFlow(no1,no2)
        else:
            print("transfering to alternate flow")
            alternateFlow(no1,no2)
    else:
        print("Division value is",no3)

In [92]:
FirstFlow()

Enter the first No.4
Enter the second No.20
do you want to see the error [y/n]N
transfering to alternate flow
value of division is  0.2

In [13]:
def checkEven(a):
    try:
        if(a%2==0):
            print("no is even")
        else:
            raise BaseException("No is not even")
    except  BaseException as e:
        print(e)

In [15]:
checkEven(4)

no is even

In [16]:
##### Database Programming

In [28]:
def getDBConnection(ip="localhost", usern="root", passn="", dbname="python_demo"):
    try:
        import pymysql as sql
        db=sql.connect(ip,usern,passn,dbname)
        cursor=db.cursor()
    except BaseException as e:
        print(e)
    else:
        print("DB Connected Successfully!!!")
        return db,cursor

In [23]:
getDBConnection()

DB Connection Successfully!!!

(<pymysql.connections.Connection at 0x187587d7198>,
 <pymysql.cursors.Cursor at 0x187587d7208>)

In [31]:
def createTable():
    try:
        db,cursor = getDBConnection()
        sql_cmd = "create table login(id int primary key auto_increment,username varchar(200), password varchar(200))"
        cursor.execute(sql_cmd)
    except BaseExeption as e:
        print(e)
        db.rollback()
    else:
        db.commit()
        print("table has been created successfully!!!")
    finally:
        db.close()

In [32]:
createTable()

DB Connected Successfully!!!
table has been created successfully!!!

In [42]:
def insertIntoLogin():
    try:
        username=input("enter Username")
        password=input("enter password")
        db,cursor=getDBConnection()
        sql_cmd="insert into login(username,password) values('{}','{}');".format(username,password)
        cursor.execute(sql_cmd)
    except BaseException as e:
        print (e)
        db.rollback()
    else:
        db.commit()
        if(cursor.rowcount>0):
            print("Data Inserted successfully!!!")
    finally:
                db.close()

In [43]:
insertIntoLogin()

enter Username
enter password
DB Connected Successfully!!!
Data Inserted successfully!!!

In [52]:
def deleteRecord():
    try:
        db,cursor = getDBConnection()
        username=input("enter username: ")
        sql_cmd= "delete from login where username like '%{}%'".format(username)
        cursor.execute(sql_cmd)
    except BaseException as e:
        print(e)
        db.rollback()
    else:
        db.commit()
        if(cursor.rowcount>0):
            print("record has been deleted successfully")
        else:
            print("no record has been found of name {}".format(username))
    finally:
        db.close()

In [53]:
deleteRecord()

DB Connected Successfully!!!
enter username: ratnesh
no record has been found of name ratnesh